/*font-family: 'Montserrat', sans-serif;*/

h3 {
  border-bottom: 3px solid rgb(46, 139, 226);
  font-family: 'Montserrat';
}
h4 {
  text-decoration: underline;
  text-decoration-color: rgb(70, 122, 219);
  font-family: 'Montserrat';
}

.olul > ol :not(li):not(ul){
  font-size: large;
  font-family: 'Montserrat';
  font-weight: bold;
}

.olul > ol :not(li):not(ul){
  font-size: large;
  font-family: 'Montserrat';
  font-weight: bold;
}

ol li {
  font-size: large;
  font-family: 'Montserrat';
  font-weight: bold;
}

ol {
  counter-reset: item;
}

ol > li {
  list-style-type: none;
  counter-increment: item;
}

ol > li:before {
  display: inline-block;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
  font-size: large;
}

ul li{
  font-size: medium;
  font-family: 'Montserrat';
  font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-weight: bold;

}
